<html>
<head>
    <title>Sistema de Blog</title>
</head>
<body style="background-color: lightskyblue; ">

    <h1>_ Layout</h1>

    <div>

        @RenderBody()

    </div>

    @RenderSection("Scripts", false)

</body>
</html>