

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

    <script>
        $("form").validate();
    </script>

    <h1>INC SCRIPTS</h1>