@model List<Blog.Models.Post>

<h2>Lista dos Posts</h2>

<hr />

<a href="/post">Listar Todos</a>

<hr />
<a href="/post/novo">Adicionar Novo</a>

<hr />

<table>
    <thead>
        <tr>
            <th>TÍTULO</th>
            <th>RESUMO</th>
            <th>CATEGORIA</th>
            <th>AÇÃO</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var p in Model)
        {
        <tr>
            <td> <strong>@p.Titulo</strong> </td>
            <td> @p.Resumo </td>
            <td> <a href="/post/categoria/@p.Categoria">@p.Categoria</a> </td>
            <td><a href="/post/excluir/@p.Id">Excluir</a></td>
        </tr>
        }
    </tbody>
</table>



