<h2>Novo</h2>

<form method="POST" action="/post/adiciona">

    <label>
        Título:
        <input type="text" name="Titulo" value="" maxlength="50" />
    </label>

    <hr />

    <label>
        Resumo:
        <input type="text" name="Resumo" value="" maxlength="200" />
    </label>

    <hr />


    <label>
        Categoria:
        <input type="text" name="Categoria" value="" maxlength="20" />
    </label>

    <hr />


    <button name="Enviar" value="sim">Enviar Cadastro</button>

</form>

