@model Blog.Models.Post

<h2>Visualizar</h2>

<form method="POST" action="/post/alterar">

    <input type="hidden" name="id" value="@Model.Id" maxlength="50" />

    <label>
        Título:
        <input type="text" name="Titulo" value="@Model.Titulo" maxlength="50" />
    </label>

    <hr />

    <label>
        Resumo:
        <input type="text" name="Resumo" value="@Model.Resumo" maxlength="200" />
    </label>

    <hr />


    <label>
        Categoria:
        <input type="text" name="Categoria" value="@Model.Categoria" maxlength="20" />
    </label>

    <hr />


    <button name="Enviar" value="sim">Alterar Cadastro</button>

</form>

